# General Noise
.*
!.git*
Docs/*.docset
Docs/document
 
# Xcode Noise
*/build
*.pbxuser
*.mode1v3
*~.nib
*~.xib

# Karakuri Base Projects
Karakuri Base Projects/*/build
Karakuri Base Projects/*/build-emulator
Karakuri Base Projects/*.pbxuser
Karakuri Base Projects/*.mode1v3
Karakuri Base Projects/*~.nib
Karakuri Base Projects/*~.xib

# Installer Noise
Installer/Karakuri Library/Contents/*
Installer/build
Installer/*/build
Installer/*/*/build
Installer/*/*/*/build
Installer/*/*/*/*/build
Installer/old/Installers/build
 
# Mac OS X Noise
*.swp

