# General Noise
.*
!.git*
Docs/*.docset
 
# Xcode Noise
*/build
*.pbxuser
*.mode1v3
*~.nib

# Installer Noise
Installer/Karakuri Library/Contents/*
Installer/Installers/build
 
# Mac OS X Noise
*.swp

