<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../../css/main.css" type="text/css" />
	<title>DocSet Maker Data Types</title>
</head>

<body class="class">
	<div class="logo"><a href="http://karakuri.designed.jp/" target="_top"><img src="../../../images/title.png" width="100%" /></a></div>

	<p><a href="../../index.html" target="_top">Back to TOC</a></p>

	<h1><%= $the_group.d_name %> Data Types</h1>
	
	<% if $the_group.d_enums.size() > 0 %>
		<h2>Enumerations</h2>
		<% $the_group.d_enums.each do |an_elem| %>
			<a name="<%= an_elem.d_tag %>"></a>
			<h3><%= an_elem.d_name %></h3>
			<div class="declare">typedef enum {<br />
				<% an_elem.d_constants.each do |a_const| %>
					&nbsp;&nbsp;&nbsp;&nbsp;<%= a_const.d_name %>,<br />
				<% end %>
			} <%= an_elem.d_name %>;</div>
			<% if an_elem.d_abstract %>
				<div class="abstract"><%= an_elem.d_abstract %></div>
			<% end %>
			<% if an_elem.d_discussion %>
				<div class="discussion">
					<h4>Discussion</h4>
					<%= an_elem.d_discussion %>
				</div>
			<% end %>
			<% if an_elem.d_constants.size() > 0 %>
				<div class="constants">
					<h4>Constants</h4>
					<dl>
					<% an_elem.d_constants.each do |a_const| %>
						<dt><%= a_const.d_name %></dt><dd><%= a_const.d_abstract %></dd>
					<% end %>
					</dl>
				</div>
			<% end %>
		<% end %>
	<% end %>

	<% if $the_group.d_typedefs.size() > 0 %>
		<h2>Type Definitions</h2>
		<% $the_group.d_typedefs.each do |an_elem| %>
			<a name="<%= an_elem.d_tag %>"></a>
			<h3><%= an_elem.d_name %></h3>
			<div class="declare"><%= an_elem.d_declare %></div>
			<% if an_elem.d_abstract %>
				<div class="abstract"><%= an_elem.d_abstract %></div>
			<% end %>
			<% if an_elem.d_discussion %>
				<div class="discussion">
					<h4>Discussion</h4>
					<%= an_elem.d_discussion %>
				</div>
			<% end %>
		<% end %>
	<% end %>

	<% if $the_group.d_variables.size() > 0 %>
		<h2>Variables</h2>
		<% $the_group.d_variables.each do |an_elem| %>
			<a name="<%= an_elem.d_tag %>"></a>
			<h3><%= an_elem.d_name %></h3>
			<div class="declare"><%= an_elem.d_declare %></div>
			<% if an_elem.d_abstract %>
				<div class="abstract"><%= an_elem.d_abstract %></div>
			<% end %>
			<% if an_elem.d_discussion %>
				<div class="discussion">
					<h4>Discussion</h4>
					<%= an_elem.d_discussion %>
				</div>
			<% end %>
		<% end %>
	<% end %>

	<% if $the_group.d_macros.size() > 0 %>
		<h2>Macros</h2>
		<% $the_group.d_macros.each do |an_elem| %>
			<a name="<%= an_elem.d_tag %>"></a>
			<h3><%= an_elem.d_name %></h3>
			<div class="declare"><%= an_elem.d_declare %></div>
			<% if an_elem.d_abstract %>
				<div class="abstract"><%= an_elem.d_abstract %></div>
			<% end %>
			<% if an_elem.d_discussion %>
				<div class="discussion">
					<h4>Discussion</h4>
					<%= an_elem.d_discussion %>
				</div>
			<% end %>
		<% end %>
	<% end %>

</body>

</html>
