<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Karakuri Framework Reference Library</title>
</head>

<frameset cols="210px,*" frameborder="0">
  <frame src="list.html" name="list">
  <frame src="toc.html" name="toc">
</frameset>

</html>
