<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../css/main.css" type="text/css" />
	<title>DocSet Maker List</title>
</head>

<body class="list">
	<a href="toc.html" target="toc">Karakuri Framework</a>
	<h1><a href="toc.html" target="toc">All Classes</a></h1>

	<% $groups.each do |group| %>
		<% if (group.d_classes_and_structs.size > 0) %>
        	<h2><%= group.d_name %></h2>
        	<ul>
        	<% group.d_classes_and_structs.each do |a_class| %>
        	   <li><a href="<%= a_class.d_href %>" target="toc"><%= a_class.d_name %></a></li>
        	<% end %>
        	</ul>
        <% end %>
    <% end %>
</body>

</html>
